html
{
    color: #000;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 5px;
    background-color: #000000;
}
head
{
    display: none;
}
body
{
    font: 20px/1.231 arial, helvetica, clean, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 13px;
    line-height: 1.231;
    font-family: arial, helvetica, clean, serif;
}
body
{
    background-repeat: no-repeat;
    height: 20px;
    margin: 5px;
    text-align: center;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
.btn {
  background-color: red;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #B22222;
}
h1
{
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    color: #8B0000;
    letter-spacing: 2px;
    text-align: center;
}
footer
{
  font-size: 10px;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
